@font-face {
  font-family: Roboto;
  src: url(font/RobotoMono-Regular.ttf);
}
@font-face {
  font-family: Nimbus;
  src: url(font/NimbusSans-Regular.otf);
}
header {
  position: sticky;
  top: 0;
  background-color: black;
  color: white;
  border: 1px solid black;
  margin: 0;
  display: grid;
  font-family: Nimbus;
  grid-template-columns: 25% 50% 25%;
  justify-content: center;
}
header h1 {
  grid-column: 2;
  text-align: center;
  margin: 8pt;
}
header a {
  grid-column: 3;
  align-self: center;
  padding-left: calc(100% - 4rem);
}
header a img {
  width: 32pt;
}
header a img:hover {
  filter: invert(1);
}
body {
  background-color: white;
  color: black;
  font-family: Roboto;
  margin: 0;
  font-size: 16px;
}
div {
  padding: 0rem calc(1rem + 8px) 0rem calc(1rem + 8px);
  width: 48rem;
  max-width: calc(100% - 2rem - 16px);
}
div img {
  width: 100%;
  max-width: 25rem;
  border: 1px solid black;
}
h2 {
  font-family: Nimbus;
  margin-bottom: 6pt;
}
h2 a {
  text-decoration: none;
  color: inherit;
}
h2 a:hover {
  text-decoration: underline;
}
span {
    display: inline-block;
}
span a {
  text-decoration: none;
  color: inherit;
}
span a:hover {
  text-decoration: underline;
}
ul {
  margin-top: 0;
}
[id] {
    scroll-margin-top: 60px; // 1
}
li:target {
  background-color: #ffa;
}
li.highlight {
  background-color: #ffa;
}
pre {
    overflow: hidden;
    font-size: min(2.75vw,16px);
}
footer {
  text-align: center;
  margin: 12pt;
  font-family: Nimbus;
  height: 30px;
}
